In [18]:
import pandas as pd

In [19]:
weather_alarms = pd.read_csv('data/df_weather+alarms_merged.csv')

In [20]:
tfidf_vectors = pd.read_csv('data/0_isw_data_collection/3_isw_vectorised_with_date.csv')

In [21]:
#tfidf_vectors = tfidf_vectors.drop(columns=['Unnamed: 0'],axis=1)
#weather_alarms = weather_alarms.drop(columns=['Unnamed: 0'],axis=1)
#weather_alarms = weather_alarms.drop(columns=['city_resolvedAddress'],axis=1)

In [22]:
weather_alarms.head()

,Unnamed: 0,day_datetime,day_datetimeEpoch,day_tempmax,day_tempmin,day_temp,day_dew,day_humidity,day_precip,day_precipcover,...,event_feature_number_of_region,event_within_24_hours,event_feature_number_of_alarms_within_24_hours,event_start_hour,event_end_hour,event_day_date,event_start_hour_datetimeEpoch,event_end_hour_datetimeEpoch,event_hour_level_event_time,event_hour_level_event_datetimeEpoch
0,0,2022-02-24 00:00:00,1645653600,4.9,-0.1,1.9,-0.6,83.4,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2022-02-24 00:00:00,1645653600,4.9,-0.1,1.9,-0.6,83.4,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2022-02-24 00:00:00,1645653600,4.9,-0.1,1.9,-0.6,83.4,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,2022-02-24 00:00:00,1645653600,4.9,-0.1,1.9,-0.6,83.4,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,2022-02-24 00:00:00,1645653600,4.9,-0.1,1.9,-0.6,83.4,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
weather_alarms.isnull().sum()

Unnamed: 0                                             0
day_datetime                                           0
day_datetimeEpoch                                      0
day_tempmax                                            0
day_tempmin                                            0
day_temp                                               0
day_dew                                                0
day_humidity                                           0
day_precip                                             0
day_precipcover                                        0
day_solarradiation                                     0
day_solarenergy                                        0
day_uvindex                                            0
day_sunrise                                            0
day_sunset                                             0
day_moonphase                                          0
hour_datetime                                          0
hour_datetimeEpoch                                     0
hour_temp                                              0
hour_humidity                                          0
hour_dew                                               0
hour_precip                                          110
hour_precipprob                                        0
hour_snow                                              0
hour_snowdepth                                         0
hour_windgust                                          0
hour_windspeed                                         0
hour_winddir                                           0
hour_pressure                                          0
hour_visibility                                        0
hour_cloudcover                                        0
hour_solarradiation                                  784
hour_solarenergy                                   92199
hour_uvindex                                         784
hour_severerisk                                        0
hour_conditions                                        0
center_city_en                                         0
region_alt                                             0
region_id                                              0
event_all_region                                  151826
event_start                                       151826
event_end                                         151826
event_clean_end                                   151827
event_intersection_alarm_id                       198423
event_start_time                                  151826
event_end_time                                    151826
event_day                                         151826
event_feature_number_of_region                    151826
event_within_24_hours                             151826
event_feature_number_of_alarms_within_24_hours    151826
event_start_hour                                  151826
event_end_hour                                    151826
event_day_date                                    151826
event_start_hour_datetimeEpoch                    151826
event_end_hour_datetimeEpoch                      151826
event_hour_level_event_time                       151826
event_hour_level_event_datetimeEpoch              151826
dtype: int64

In [24]:
weather_alarms['isAlarm'] = weather_alarms['event_start_hour'].notnull().astype(bool)

In [25]:
weather_alarms['isAlarm'].value_counts()

False    151826
True      51594
Name: isAlarm, dtype: int64

In [26]:
weather_alarms = weather_alarms.rename(columns={"day_datetime": "date"})

In [27]:
tfidf_vectors.head()

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,7392,7393,7394,7395,7396,7397,7398,7399,7400,date
0,0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2022-02-25
1,1,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2022-02-26
2,2,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2022-02-27
3,3,0.0,0.0,0.0,0.0,0.0,0.023238,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2022-02-28
4,4,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.033858,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2022-03-01

In [28]:
merged_df = pd.merge(weather_alarms, tfidf_vectors, on='date', how='left')

In [29]:
merged_df.head(100)

,Unnamed: 0_x,date,day_datetimeEpoch,day_tempmax,day_tempmin,day_temp,day_dew,day_humidity,day_precip,day_precipcover,...,7391,7392,7393,7394,7395,7396,7397,7398,7399,7400
0,0,2022-02-24 00:00:00,1645653600,4.9,-0.1,1.9,-0.6,83.4,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2022-02-24 00:00:00,1645653600,4.9,-0.1,1.9,-0.6,83.4,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2022-02-24 00:00:00,1645653600,4.9,-0.1,1.9,-0.6,83.4,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,2022-02-24 00:00:00,1645653600,4.9,-0.1,1.9,-0.6,83.4,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,2022-02-24 00:00:00,1645653600,4.9,-0.1,1.9,-0.6,83.4,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,95,2022-02-27 00:00:00,1645912800,4.6,-0.7,1.4,-3.3,72.4,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,96,2022-02-28 00:00:00,1645999200,3.0,-2.6,0.0,-5.0,69.2,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,97,2022-02-28 00:00:00,1645999200,3.0,-2.6,0.0,-5.0,69.2,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,98,2022-02-28 00:00:00,1645999200,3.0,-2.6,0.0,-5.0,69.2,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,99,2022-02-28 00:00:00,1645999200,3.0,-2.6,0.0,-5.0,69.2,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
merged_df.shape

(203420, 7460)

In [31]:
merged_df.to_csv('data/final_dataset_ready_to_train.csv')

In [32]:
merged_df.isnull().sum()

Unnamed: 0_x              0
date                      0
day_datetimeEpoch         0
day_tempmax               0
day_tempmin               0
                      ...
7396                 194543
7397                 194543
7398                 194543
7399                 194543
7400                 194543
Length: 7460, dtype: int64