In [2]:
#1. import necessary libraries and modules

#2. upload all necessary data

#3. define X and y. y - our target. X- predictors. We have X but how we represent y? -  Vlad say that for 
#   now we do not devide our dataset into two this parts, but I suppose you should ask Markiyan about
#   how we can measure the efficiency of the model later on

#4. devide data into train and test using following link
    #use https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.TimeSeriesSplit.html

#5. train 6 models:
    # 1. LogisticRegression
    # 2. Support Vector Machines
    # 3. Stochastic Gradient Descent
    # 4. Random Forest
    # 5. Nearest Neighbors Classification
    # 6. Bayesian Regression
    
# find out how to import and use them here: https://scikit-learn.org/stable/supervised_learning.html
    
#6. save them

#7 Calculate confusion matrices for each model

# https://scikit-learn.org/stable/modules/generated/sklearn.metrics.confusion_matri x.html

#8 Choose the top 3 models. Motivate your decision on how did you define “top” models?

#9 Tune hyperparameters for the top 3 models you choose

# https://scikit-learn.org/stable/modules/grid_search.html

#10. move to the next file - 5_evaluate_models

In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import TimeSeriesSplit

In [16]:
#data = pd.read_csv('data/final_dataset_ready_to_train.csv')


#USE this if firt row crashes

weather_alarms = pd.read_csv('data/df_weather+alarms_merged.csv')
tfidf_vectors = pd.read_csv('data/0_isw_data_collection/3_isw_vectorised_with_date.csv')
tfidf_vectors = tfidf_vectors.drop(columns=['Unnamed: 0'],axis=1)
weather_alarms = weather_alarms.drop(columns=['Unnamed: 0'],axis=1)
weather_alarms = weather_alarms.drop(columns=['city_resolvedAddress'],axis=1)
weather_alarms = weather_alarms.rename(columns={"day_datetime": "date"})
merged_df = pd.merge(weather_alarms, tfidf_vectors, on='date', how='left')

In [18]:
#data.head()

#or

merged_df.head()

,date,day_datetimeEpoch,day_tempmax,day_tempmin,day_temp,day_dew,day_humidity,day_precip,day_precipcover,day_solarradiation,...,7391,7392,7393,7394,7395,7396,7397,7398,7399,7400
0,2022-02-24,1645653600,4.9,-0.1,1.9,-0.6,83.4,0.0,0.0,47.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022-02-24,1645653600,4.9,-0.1,1.9,-0.6,83.4,0.0,0.0,47.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-02-24,1645653600,4.9,-0.1,1.9,-0.6,83.4,0.0,0.0,47.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2022-02-24,1645653600,4.9,-0.1,1.9,-0.6,83.4,0.0,0.0,47.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2022-02-24,1645653600,4.9,-0.1,1.9,-0.6,83.4,0.0,0.0,47.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
merged_df.shape

(297, 7464)

In [17]:
# split data into train and test parts


tscv = TimeSeriesSplit(n_splits=3)

# Iterate over time series data using TimeSeriesSplit
for train_index, test_index in tscv.split(merged_df):
    X_train, X_test = merged_df[train_index],merged_df[test_index]

KeyError: "None of [Int64Index([    0,     1,     2,     3,     4,     5,     6,     7,     8,\n                9,\n            ...\n            50845, 50846, 50847, 50848, 50849, 50850, 50851, 50852, 50853,\n            50854],\n           dtype='int64', length=50855)] are in the [columns]"