In [258]:
import pandas as pd

In [302]:
weather_alarms_tfidf = pd.read_csv('data/df_weather+alarms_merged.csv')
tfidf_vectors = pd.read_csv('data/0_isw_data_collection/3_isw_vectorised_with_date.csv')

In [304]:
weather_alarms_tfidf.shape

(203420, 70)

In [300]:
weather_alarms_tfidf.head()

,city_resolvedAddress,day_datetimeEpoch,day_tempmax,day_tempmin,day_temp,day_dew,day_humidity,day_precip,day_precipcover,day_solarradiation,...,event_start_hour_datetimeEpoch,event_end_hour_datetimeEpoch,event_hour_level_event_time,event_hour_level_event_datetimeEpoch,isw_report_date,isw_date_tomorrow_datetime,isw_keywords,isw_main_html_v6,isw_report_text_lemm,isAlarm
0,"Черкаси, Україна",1645653600,4.9,-0.1,1.9,-0.6,83.4,0.0,0.0,47.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,"Черкаси, Україна",1645653600,4.9,-0.1,1.9,-0.6,83.4,0.0,0.0,47.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,"Черкаси, Україна",1645653600,4.9,-0.1,1.9,-0.6,83.4,0.0,0.0,47.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,"Черкаси, Україна",1645653600,4.9,-0.1,1.9,-0.6,83.4,0.0,0.0,47.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,"Черкаси, Україна",1645653600,4.9,-0.1,1.9,-0.6,83.4,0.0,0.0,47.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [305]:
tfidf_vectors.head()

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,7392,7393,7394,7395,7396,7397,7398,7399,7400,date
0,0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2022-02-25
1,1,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2022-02-26
2,2,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2022-02-27
3,3,0.0,0.0,0.0,0.0,0.0,0.023238,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2022-02-28
4,4,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.033858,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2022-03-01

In [264]:
#weather_alarms = weather_alarms.drop(columns=['Unnamed: 0','day_datetime'])

In [265]:
#weather_alarms = weather_alarms.drop(columns=['Unnamed: 0','day_datetime'])

In [296]:
#weather_alarms.columns

In [297]:
#tfidf_vectors.head()

In [269]:
#tfidf_vectors = tfidf_vectors.drop(columns=['Unnamed: 0'],axis=1)

In [298]:
#tfidf_vectors.head()

In [299]:
#tfidf_vectors = tfidf_vectors.drop(columns=['date'])

In [294]:
#weather_alarms.info()

In [274]:
#weather_alarms_features = weather_alarms.iloc[:, :-1]
#Y = weather_alarms.iloc[:, -1]

In [295]:
#Y

In [309]:
weather_alarms_tfidf.columns

Index(['Unnamed: 0', 'city_resolvedAddress', 'day_datetime',
       'day_datetimeEpoch', 'day_tempmax', 'day_tempmin', 'day_temp',
       'day_dew', 'day_humidity', 'day_precip', 'day_precipcover',
       'day_solarradiation', 'day_solarenergy', 'day_uvindex', 'day_sunrise',
       'day_sunset', 'day_moonphase', 'hour_datetime', 'hour_datetimeEpoch',
       'hour_temp', 'hour_humidity', 'hour_dew', 'hour_precip',
       'hour_precipprob', 'hour_snow', 'hour_snowdepth', 'hour_preciptype',
       'hour_windgust', 'hour_windspeed', 'hour_winddir', 'hour_pressure',
       'hour_visibility', 'hour_cloudcover', 'hour_solarradiation',
       'hour_solarenergy', 'hour_uvindex', 'hour_severerisk',
       'hour_conditions', 'city', 'region', 'center_city_ua', 'center_city_en',
       'region_alt', 'region_id', 'event_Unnamed: 0', 'event_region_title',
       'event_region_city', 'event_all_region', 'event_start', 'event_end',
       'event_clean_end', 'event_intersection_alarm_id', 'event_start_time',
       'event_end_time', 'event_day', 'event_feature_number_of_region',
       'event_within_24_hours',
       'event_feature_number_of_alarms_within_24_hours', 'event_start_hour',
       'event_end_hour', 'event_day_date', 'event_start_hour_datetimeEpoch',
       'event_end_hour_datetimeEpoch', 'event_hour_level_event_time',
       'event_hour_level_event_datetimeEpoch', 'isw_report_date',
       'isw_date_tomorrow_datetime', 'isw_keywords', 'isw_main_html_v6',
       'isw_report_text_lemm'],
      dtype='object')

In [306]:
weather_alarms_tfidf.shape

(203420, 70)

In [307]:
import pickle

In [310]:
tfidf = pickle.load(open("models/tfidf_transformer_v1.pkl","rb"))
cv = pickle.load(open("models/count_vectorizer_v1.pkl","rb"))

word_count_vector = cv.transform(weather_alarms_tfidf['isw_report_text_lemm'].values.astype('U'))

tfidf_vector = tfidf.transform(word_count_vector)

KeyboardInterrupt:

In [ ]:
tfidf_vector

In [292]:
import scipy
from scipy import sparse

df_work_4_csr = scipy.sparse.csr_matrix(weather_alarms_features.values)
df_all_features = scipy.hstack((df_work_4_csr,tfidf_vectors),format='csr')

TypeError: no supported conversion for types: (dtype('O'),)

In [ ]:
weather_alarms['isAlarm'] = weather_alarms['event_start_hour'].notnull().astype(int)

In [ ]:
weather_alarms_features = weather_alarms_features.drop(columns=['event_all_region', 'event_start',
       'event_end', 'event_clean_end', 'event_intersection_alarm_id',
       'event_start_time', 'event_end_time', 'event_day',
       'event_feature_number_of_region', 'event_within_24_hours',
       'event_feature_number_of_alarms_within_24_hours', 'event_start_hour',
       'event_end_hour', 'event_day_date', 'event_start_hour_datetimeEpoch',
       'event_end_hour_datetimeEpoch', 'event_hour_level_event_time',
       'event_hour_level_event_datetimeEpoch','region_alt','hour_conditions','center_city_en','hour_datetime','day_sunset','day_sunrise'],axis=1)

eather_alarms = weather_alarms.drop(columns=['region_alt','hour_conditions','center_city_en','hour_datetime','day_sunset','day_sunrise'])

In [ ]:
tfidf_vectors

In [ ]:
df_work_4_csr

In [ ]:
type(df_work_4_csr)

In [ ]:
tfidf_vectors.head()

In [ ]:
tfidf_vectors.shape

In [ ]:
weather_alarms_features.info()

In [ ]:
weather_alarms_features.head()

In [ ]:
Y.head()

In [ ]:
weather_alarms['isAlarm'] = weather_alarms['event_start_hour'].notnull().astype(int)

In [ ]:
weather_alarms_features.head()

In [ ]:
weather_alarms_features.shape

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import TimeSeriesSplit

X = weather_alarms_features
y = Y

# Specify the number of splits for time series cross-validation
n_splits = 5

# Initialize TimeSeriesSplit with the specified number of splits
tscv = TimeSeriesSplit(n_splits=n_splits)

# Perform time series splitting of data
for train_index, test_index in tscv.split(X):
    # Extract train and test data using the split indices
    X_train, X_test = X.iloc[train_index], X.iloc[test_index]
    y_train, y_test = y.iloc[train_index], y.iloc[test_index]

In [ ]:
X_train.shape

In [ ]:
y_train.shape

In [ ]:
weather_alarms_features.isnull().sum()
weather_alarms_features = weather_alarms_features.drop(columns=['hour_precip','hour_solarradiation','hour_solarenergy','hour_uvindex'])

In [ ]:
weather_alarms_features.isnull().sum()

In [ ]:
from sklearn.linear_model import LogisticRegression

# Create an instance of the LogisticRegression class
logreg = LogisticRegression()

# Train the logistic regression model
logreg.fit(X_train, y_train)

# Predict the target variable on the test data
y_pred = logreg.predict(X_test)

# Evaluate the performance of the model
accuracy = logreg.score(X_test, y_test)

In [ ]:
print(accuracy)