In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('data/0_raw_other_data/alarms.csv',sep=";")
#data = data.drop(columns=['Unnamed: 0'],axis=1)

In [3]:
data.head()

,id,region_id,region_title,region_city,all_region,start,end,clean_end,intersection_alarm_id
0,2,3,Вінниччина,Вінниця,0,2022-02-25 22:55:42,2022-02-25 23:41:53,2022-02-25 23:41:53,NaN
1,4,12,Львівщина,Львів,0,2022-02-26 06:26:17,2022-02-26 07:15:28,2022-02-26 07:15:28,NaN
2,5,14,Одещина,Одеса,0,2022-02-26 07:16:58,2022-02-26 07:47:03,2022-02-26 07:47:03,NaN
3,6,6,Житомирщина,Житомир,0,2022-02-26 08:05:54,2022-02-26 09:36:36,2022-02-26 09:36:36,NaN
4,7,3,Вінниччина,Вінниця,0,2022-02-26 08:39:39,2022-02-26 10:42:41,2022-02-26 10:42:41,NaN

In [4]:
data.shape

(19933, 9)

In [5]:
data.head()

,id,region_id,region_title,region_city,all_region,start,end,clean_end,intersection_alarm_id
0,2,3,Вінниччина,Вінниця,0,2022-02-25 22:55:42,2022-02-25 23:41:53,2022-02-25 23:41:53,NaN
1,4,12,Львівщина,Львів,0,2022-02-26 06:26:17,2022-02-26 07:15:28,2022-02-26 07:15:28,NaN
2,5,14,Одещина,Одеса,0,2022-02-26 07:16:58,2022-02-26 07:47:03,2022-02-26 07:47:03,NaN
3,6,6,Житомирщина,Житомир,0,2022-02-26 08:05:54,2022-02-26 09:36:36,2022-02-26 09:36:36,NaN
4,7,3,Вінниччина,Вінниця,0,2022-02-26 08:39:39,2022-02-26 10:42:41,2022-02-26 10:42:41,NaN

In [6]:
data['feature_number_of_regions'] = 0

In [7]:
data.columns

Index(['id', 'region_id', 'region_title', 'region_city', 'all_region', 'start',
       'end', 'clean_end', 'intersection_alarm_id',
       'feature_number_of_regions'],
      dtype='object')

In [8]:
#data['intersection_alarm_id'].unique()

In [9]:
data['region_title'].unique()

array(['Вінниччина', 'Львівщина', 'Одещина', 'Житомирщина', 'Рівненщина',
       'Волинь', 'Хмельниччина', 'Тернопільщина', 'Запоріжжя',
       '️Донеччина', 'Дніпропетровщина', 'Кіровоградщина', 'Київщина',
       'Чернігівщина', 'Черкащина', 'Полтавщина', 'Миколаївщина',
       'Буковина', 'Івано-Франківщина', 'Харківщина', 'Сумщина',
       'Закарпаття', 'Херсонщина'], dtype=object)

In [6]:
data["start_time"] = pd.to_datetime(data["start"])
data["end_time"] = pd.to_datetime(data["end"])

In [7]:
data.head()

,id,region_id,region_title,region_city,all_region,start,end,clean_end,intersection_alarm_id,start_time,end_time
0,2,3,Вінниччина,Вінниця,0,2022-02-25 22:55:42,2022-02-25 23:41:53,2022-02-25 23:41:53,NaN,2022-02-25 22:55:42,2022-02-25 23:41:53
1,4,12,Львівщина,Львів,0,2022-02-26 06:26:17,2022-02-26 07:15:28,2022-02-26 07:15:28,NaN,2022-02-26 06:26:17,2022-02-26 07:15:28
2,5,14,Одещина,Одеса,0,2022-02-26 07:16:58,2022-02-26 07:47:03,2022-02-26 07:47:03,NaN,2022-02-26 07:16:58,2022-02-26 07:47:03
3,6,6,Житомирщина,Житомир,0,2022-02-26 08:05:54,2022-02-26 09:36:36,2022-02-26 09:36:36,NaN,2022-02-26 08:05:54,2022-02-26 09:36:36
4,7,3,Вінниччина,Вінниця,0,2022-02-26 08:39:39,2022-02-26 10:42:41,2022-02-26 10:42:41,NaN,2022-02-26 08:39:39,2022-02-26 10:42:41

In [ ]:
# fisrt feature a number of regions where the alarm is going on

for i in range(0,data.shape[0]):
    count = 0
    for j in range(0,data.shape[0]):
        if (data['start_time'][j] >= data['start_time'][i]) and (data['end_time'][j] < data['end_time'][i]):
            count = count + 1
    data["feature_number_of_regions"][i] = count
    count = 0

/tmp/ipykernel_2782/369258785.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["feature_number_of_regions"][i] = count

In [17]:
data.shape[0]

19933

In [19]:
data.head(20)

,id,region_id,region_title,region_city,all_region,start,end,clean_end,intersection_alarm_id,feature_number_of_regions,start_time,end_time
0,2,3,Вінниччина,Вінниця,0,2022-02-25 22:55:42,2022-02-25 23:41:53,2022-02-25 23:41:53,NaN,0,2022-02-25 22:55:42,2022-02-25 23:41:53
1,4,12,Львівщина,Львів,0,2022-02-26 06:26:17,2022-02-26 07:15:28,2022-02-26 07:15:28,NaN,0,2022-02-26 06:26:17,2022-02-26 07:15:28
2,5,14,Одещина,Одеса,0,2022-02-26 07:16:58,2022-02-26 07:47:03,2022-02-26 07:47:03,NaN,0,2022-02-26 07:16:58,2022-02-26 07:47:03
3,6,6,Житомирщина,Житомир,0,2022-02-26 08:05:54,2022-02-26 09:36:36,2022-02-26 09:36:36,NaN,0,2022-02-26 08:05:54,2022-02-26 09:36:36
4,7,3,Вінниччина,Вінниця,0,2022-02-26 08:39:39,2022-02-26 10:42:41,2022-02-26 10:42:41,NaN,0,2022-02-26 08:39:39,2022-02-26 10:42:41
5,9,3,Вінниччина,Вінниця,0,2022-02-26 10:58:23,2022-02-26 11:59:40,2022-02-26 11:59:40,NaN,0,2022-02-26 10:58:23,2022-02-26 11:59:40
6,10,12,Львівщина,Львів,0,2022-02-26 13:44:44,2022-02-26 14:27:25,2022-02-26 14:27:25,NaN,0,2022-02-26 13:44:44,2022-02-26 14:27:25
7,3,16,Рівненщина,Рівненська обл.,1,2022-02-26 15:54:53,2022-02-26 16:14:46,2022-02-26 16:14:46,NaN,0,2022-02-26 15:54:53,2022-02-26 16:14:46
8,1,2,Волинь,Волинська обл.,1,2022-02-26 16:08:26,2022-02-26 16:39:26,2022-02-26 16:39:26,NaN,0,2022-02-26 16:08:26,2022-02-26 16:39:26
9,11,21,Хмельниччина,Деражня,0,2022-02-26 16:10:29,2022-02-26 17:19:57,2022-02-26 17:19:57,NaN,1,2022-02-26 16:10:29,2022-02-26 17:19:57
10,12,3,Вінниччина,Вінниця,0,2022-02-26 16:48:36,2022-02-26 17:15:37,2022-02-26 17:15:37,NaN,0,2022-02-26 16:48:36,2022-02-26 17:15:37
11,13,18,Тернопільщина,Тернопіль,0,2022-02-26 17:28:36,2022-02-26 19:16:19,2022-02-26 19:16:19,NaN,0,2022-02-26 17:28:36,2022-02-26 19:16:19
12,14,12,Львівщина,Львів,0,2022-02-26 20:09:41,2022-02-26 20:44:46,2022-02-26 20:44:46,NaN,0,2022-02-26 20:09:41,2022-02-26 20:44:46
13,15,8,Запоріжжя,Запоріжжя,0,2022-02-27 06:56:06,2022-02-27 09:35:49,2022-02-27 09:35:49,NaN,2,2022-02-27 06:56:06,2022-02-27 09:35:49
14,16,18,Тернопільщина,Тернопіль,0,2022-02-27 08:16:55,2022-02-27 09:12:31,2022-02-27 09:12:31,NaN,0,2022-02-27 08:16:55,2022-02-27 09:12:31
15,17,16,Рівненщина,Рівненська обл.,1,2022-02-27 08:40:20,2022-02-27 09:15:50,2022-02-27 09:15:50,NaN,0,2022-02-27 08:40:20,2022-02-27 09:15:50
16,18,3,Вінниччина,Вінниця,0,2022-02-27 10:48:03,2022-02-27 11:07:09,2022-02-27 11:07:09,NaN,0,2022-02-27 10:48:03,2022-02-27 11:07:09
17,19,3,Вінниччина,Вінниця,0,2022-02-27 12:48:57,2022-02-27 13:40:29,2022-02-27 13:40:29,NaN,0,2022-02-27 12:48:57,2022-02-27 13:40:29
18,20,3,Вінниччина,Вінниця,0,2022-02-27 14:38:01,2022-02-27 14:54:57,2022-02-27 14:54:57,NaN,0,2022-02-27 14:38:01,2022-02-27 14:54:57
19,21,5,️Донеччина,Маріуполь,0,2022-02-27 14:49:52,2022-02-27 20:39:28,2022-02-27 20:39:28,NaN,21,2022-02-27 14:49:52,2022-02-27 20:39:28

In [ ]:
    # second feaure: number of alarms for this region during the last 24 hours